<mat-card style="max-width: 850px">
  <mat-card-header>
    <mat-card-title>Ventilator App</mat-card-title>
    <mat-card-subtitle>Description: ...</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content style="margin-top: 1em;">
    <div>
      <h6>Control</h6>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div>
      <h6>Threshold</h6>
      <form>
        <mat-form-field>
          <input matInput="number" [checked]="ventilatorOn" (change)="changeOnOff($event)" placeholder="Threshold value" value="{{ thresholdValue }}">
        </mat-form-field>
        <button type="button" style="display: block;" mat-raised-button color="accent"
                (click)="saveThreshold()" disabled="{{ widget === undefined }}">Save Threshold</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
