<h2>
  Sensor Details
</h2>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Sensor Name">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Infos - Besonderheiten"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option 1</mat-option>
      <mat-option value="option">Option 2</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button class="material-cust-save-button" (click)="saveForm()">Speichern</button>
  <button mat-button class="material-cust-cancel-button" (click)="cancelForm()">Abbrechen</button>

</div>